.feedback {
  background: #ddd;
  border: solid .2em #666;
  border-radius: .5em;
  left: 25vw;
  padding: 1em;
  position: absolute;
  right: 25vw;
  top: 1em;
  z-index: 10;

  &.correct {
    background: rgba(0,255,0,0.2);
  }
  &.incorrect {
    background: rgba(255,0,0,0.2);
  }
}
